
$wvid: 150px;

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  position: relative;
  background: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  padding: 0;
  margin: 0;
  color: white;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

canvas{
  width: 133vh;
  // max-width: 960px;
  height: 100vh; //calc( 100vw / 1.333);
  display: block;
  touch-action: none;
}

.vid{
left: 0; top: 0; z-index: 2;
position: fixed;
}

#video{
  width: $wvid;
  height: calc( #{$wvid} / 1.333);
}

.cover{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 666;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba( 1, 0, 0, 0.75);
}